<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"mi-spring-function","region":"us-east-1"}</customFields>
            <providers>
                <timestamp/>
                <loggerName/>
                <level/>
                <message/>
                <context/>
                <stackTrace/>
                <mdc/>
            </providers>
        </encoder>
    </appender>

    <!-- Local Profile: Plain text on console -->
    <springProfile name="local">
        <appender name="CONSOLE_TEXT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="CONSOLE_TEXT"/>
        </root>
        <logger name="licaza.etiya" level="DEBUG" />
    </springProfile>

    <!-- AWS Profile: JSON structure for CloudWatch -->
    <springProfile name="aws|prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

</configuration>
